

<div class="row justify-space-between-md">
  <div class="project">
    <h1>Welcome {{name}}!</h1>
    <h4>Create a New Project:</h4>
    <form class="form project-form">
      <div class="form-group">
        <label for="project-name">Project name::</label>
        <input class="form-input" type="text" id="project-name" />
      </div>
      <div class="form-group">
        <label for="project-funding">needed funding($):</label>
        <input class="form-input" type="number" id="project-funding" />
      </div>
      <div class="form-group">
        <label for="project-description">description:</label>
        <textarea class="form-input" id="project-description"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn">Create</button>
      </div>
    </form>
  </div>
{{#if projects.length}}
<div>
  <h3>Current Projects:</h3>
  {{#each projects as |project|}}
    <h4><a href="/projects/{{project.id}}">{{project.name}}</a></h4>
  {{/each}}
</div>
{{/if}}
</div>


<script src="/js/project.js"></script>